.PetCanvas {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: inherit;
}

.PetCanvas canvas {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: fill;
  border-radius: inherit;
}

.PetCanvas .NoUser {
  position: absolute;
  z-index: 1;
}